<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="CSS/colors.css" th:href="@{/CSS/colors.css}">
    <link rel="stylesheet" href="CSS/components.css" th:href="@{/CSS/components.css}">
    <link rel="stylesheet" href="CSS/home_page.css" th:href="@{/CSS/home_page.css}">
    <link rel="icon" type="image/x-icon" href="img/icon.ico" th:href="@{/img/icon.ico}">
</head>
<body>
<div class="nav-bar">
    <div class="main-label" th:text="#{home_page.allPlaylists}">All Playlists</div>
    <div class="spacer"></div>
    <a href="#create-playlist">
        <button class="button" th:text="#{home_page.addPlaylist}">Add Playlist</button>
    </a>
    <!--    <button class="button" th:text="#{home_page.removePlaylist}">Remove Playlist</button>-->
    <!--    <button class="button" th:text="#{home_page.allSongs}">View All Songs</button>-->
    <a href="#open-modal">
        <button class="button" th:text="#{home_page.addTrack}">Add Track</button>
    </a>
    <a th:href="@{/Logout}">
        <button type="submit" class="button logout" th:text="#{home_page.logout}">Logout</button>
    </a>
</div>
<div class="items-container" th:remove="all-but-first">
    <!-- Redirects to corresponding playlist page name -->
    <!-- No more than 5 per row -->
    <form action="playlist_page.html" th:action="Playlist" method="GET" th:each="playlist : ${playlists}">
        <button class="single-item playlist-title" name="playlistId" value="1" th:value="${playlist.id}">
            <span class="first-line" th:text="${playlist.title}"> Playlist Title</span>
        </button>
    </form>
    <form action="playlist_page.html" method="GET">
        <button class="single-item playlist-title" name="playlistId" value="1">
            <span class="first-line"> Playlist Title</span>
        </button>
    </form>
    <form action="playlist_page.html" method="GET">
        <button class="single-item playlist-title" name="playlistId" value="1">
            <span class="first-line"> Playlist Title</span>
        </button>
    </form>
    <form action="playlist_page.html" method="GET">
        <button class="single-item playlist-title" name="playlistId" value="1">
            <span class="first-line"> Playlist Title</span>
        </button>
    </form>
    <form action="playlist_page.html" method="GET">
        <button class="single-item playlist-title" name="playlistId" value="1">
            <span class="first-line"> Playlist Title</span>
        </button>
    </form>
    <form action="playlist_page.html" method="GET">
        <button class="single-item playlist-title" name="playlistId" value="1">
            <span class="first-line"> Playlist Title</span>
        </button>
    </form>
    <form action="playlist_page.html" method="GET">
        <button class="single-item playlist-title" name="playlistId" value="1">
            <span class="first-line"> Playlist Title</span>
        </button>
    </form>
</div>
<!--<div class="nav-bar">-->
<!--        <button class="button" th:text="#{home_page.previousPlaylists}">Previous Playlists</button>-->
<!--    <div class="spacer"></div>-->
<!--    <a href="home_page.html" th:href="@{/HomePage}">-->
<!--        <button class="button">Home</button>-->
<!--    </a>-->
<!--    <div class="spacer"></div>-->
<!--        <button class="button" th:text="#{home_page.nextPlaylists}">Next Playlists</button>-->
<!--</div>-->
<div id="open-modal" class="modal-window">
    <div>
        <div class="nav-bar">
            <div class="modal-title" th:text="#{home_page.addNewTrack}">Add Track</div>
            <div class="spacer"></div>
            <a href="#" title="Close" th:title="#{home_page.close}" class="modal-close" th:text="#{home_page.close}">Close</a>
        </div>
        <form action="home_page.html" th:action="UploadTrack" method="post" enctype="multipart/form-data"
              name="songAttributes">
            <input type="text" class="text-field" name="title" placeholder="Title" th:placeholder="#{home_page.title}"
                   required>
            <br>
            <input type="text" class="text-field" name="artist" placeholder="Artist"
                   th:placeholder="#{home_page.artist}" required>
            <br>
            <input type="text" class="text-field" name="album" placeholder="Album title"
                   th:placeholder="#{home_page.albumTitle}" required>
            <br>
            <!--            <input type="number" class="text-field" min="1901" max="2155" name="year"-->
            <!--                   placeholder="Year" th:placeholder="#{home_page.year}" required>-->
            <!--            <br>-->
            <select class="text-field" name="year" id="year" required>
                <option value="" th:text="#{home_page.year}">Year</option>
                <option th:each="year : ${#numbers.sequence(#dates.year(#dates.createNow()),1901)}"
                        th:value="${year}" th:text="${year}">2025
                </option>
                <option th:remove="all">2024</option>
                <option th:remove="all">2023</option>
            </select>
            <br>
            <select class="text-field" name="genre" id="genre" required>
                <option value="" th:text="#{home_page.genre}">Genre</option>
                <option th:each="genre:${genres}" th:value="${genre}" th:text="${genre}">Genre</option>
                <option th:remove="all">Genre</option>
                <option th:remove="all">Genre</option>
                <option th:remove="all">Genre</option>
            </select>
            <br>
            <label class="label" for="musicTrack" th:text="#{home_page.track} + ':'">Track:</label>
            <input type="file" name="musicTrack" id="musicTrack" placeholder="Track"
                   th:placeholder="#{home_page.track}" required>
            <br>
            <label class="label" for="image" th:text="#{home_page.albumImage} + ':'">Album image:</label>
            <input type="file" name="image" id="image" placeholder="Image" th:placeholder="#{home_page.albumImage}"
                   required>
            <div class="error" th:if="${duplicateTrack != null && duplicateTrack.equals('true')}">
                <span th:text="#{home_page.duplicateTrack}">Error: duplicate track</span>
            </div>
            <div class="nav-bar">
                <input type="submit" class="button" value="Add Track" th:value="#{home_page.addNewTrack}"/>
            </div>
        </form>
    </div>
</div>
<div id="create-playlist" class="modal-window">
    <div>
        <div class="nav-bar">
            <div class="modal-title" th:text="#{home_page.createPlaylist}">Create new playlist</div>
            <div class="spacer"></div>
            <a href="#" title="Close" th:title="#{home_page.close}" class="modal-close" th:text="#{home_page.close}">Close</a>
        </div>
        </form>
        <form action="home_page.html" th:action="@{/CreatePlaylist}" method="post">
            <input type="text" class="text-field" name="playlistTitle" placeholder="Title"
                   th:placeholder="#{home_page.title}" required>
            <br> <br>
            <label class="label" for="trackSelector"
                   th:text="${userTracks.size()==0}? #{home_page.noTracksAvailable} : #{home_page.selectTracks}">Select
                songs to add:</label>
            <br>
            <select class="text-field" th:if="${userTracks.size()} != 0" id="trackSelector"
                    name="selectedTracks" multiple size="4"
                    th:size="${userTracks.size()>10} ? 10 : ${userTracks.size()}" th:remove="all-but-first">
                <option value="Track" th:value="${track.id}"
                        th:text="${track.artist + ' - ' + track.title + ' (' + track.year + ')'}"
                        th:each="track: ${userTracks}">
                    Artist - Title (Year)
                </option>
                <option value="Track1">Artist - Title (Year)</option>
                <option value="Track2">Artist - Title (Year)</option>
                <option value="Track3">Artist - Title (Year)</option>
            </select>
            <div class="error" th:if="${duplicatePlaylist != null && duplicatePlaylist.equals('true')}">
                <span th:text="#{home_page.duplicatePlaylist}">Error: duplicate playlist</span>
            </div>
            <div class="nav-bar">
                <input class="button" type="submit" value="Create playlist"
                       th:value="#{home_page.createPlaylistButton}"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>
