<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${playlistTitle}">Playlist Title</title>
    <link rel="stylesheet" href="CSS/playlist_page.css" th:href="@{/CSS/playlist_page.css}">
</head>
<body>
<div class="nav-bar">
    <div class="label-title" th:text="${playlistTitle}">Playlist Title</div>
    <div class="spacer"></div>
    <button class="button" th:text="#{playlist_page.addTrack}">Add Track</button>
    <button class="button" th:text="#{playlist_page.removeTrack}">Remove Track</button>
    <a th:href="@{/Logout}">
        <button type="submit" class="button logout" th:text="#{playlist_page.logout}">Logout</button>
    </a>
</div>
<div class="songs" th:remove="all-but-first" th:each="track : ${playlistTracks}">
    <!-- Five tracks per row of the corresponding playlist -->
    <form action="Tracks" method="GET">
        <button class="song-button" name="track_id" th:value="${track.path}">
            <span class="track-title" th:text="${track.title}">TitleTrack</span><br/>
            <span class="album-title" th:text="${track.album_title}">AlbumTitle</span>
        </button>
    </form>
    <form action="Tracks" method="GET">
        <button class="song-button" name="track_id" value="1">
            <span class="track-title">TitleTrack</span><br/>
            <span class="album-title">AlbumTitle</span>
        </button>
    </form>
    <form action="Tracks" method="GET">
        <button class="song-button" name="track_id" value="1">
            <span class="track-title">TitleTrack</span><br/>
            <span class="album-title">AlbumTitle</span>
        </button>
    </form>
    <form action="Tracks" method="GET">
        <button class="song-button" name="track_id" value="1">
            <span class="track-title">TitleTrack</span><br/>
            <span class="album-title">AlbumTitle</span>
        </button>
    </form>
    <form action="Tracks" method="GET">
        <button class="song-button" name="track_id" value="1">
            <span class="track-title">TitleTrack</span><br/>
            <span class="album-title">AlbumTitle</span>
        </button>
    </form>
</div>
<div class="nav-bar">
    <button class="button" th:text="#{playlist_page.previousTracks}">Previous Tracks</button>
    <div class="spacer"></div>
    <button class="button">Home</button>
    <div class="spacer"></div>
    <button class="button" th:text="#{playlist_page.nextTracks}">Next Tracks</button>
</div>
</body>
</html>
