<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:value="${track.title}">Track Title</title>
    <link rel="stylesheet" href="CSS/player_page.css" th:href="@{/CSS/player_page.css}">
</head>
<body>
<div class="nav-bar">
    <a th:href="@{/Logout}">
        <button type="submit" class="button logout" th:text="#{player_page.logout}">Logout</button>
    </a>
</div>
<div class="music-player">
    <div class="track-title" th:text="${track.title}">Track Title</div>
    <div class="track-title" th:text="${track.artist}">Track artist</div>
    <div class="track-title" th:text="${track.genre}">Track genre</div>
    <div class="album-title" th:text="${track.album_title}">Album title</div>
    <hr>
    <audio controls>
        <source th:src="${track.path}">
    </audio>
</div>
<div class="nav-bar">
    <button class="button" th:text="#{player_page.nextTracks}">Previous Tracks</button>
    <div class="spacer"></div>
    <a href="home_page.html" th:href="@{/HomePage}">
        <button class="button">Home</button>
    </a>
    <div class="spacer"></div>
    <button class="button" th:text="#{player_page.nextTracks}">Next Tracks</button>
</div>
</body>
</html>