<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="CSS/index.css" th:href="@{/CSS/index.css}">
</head>
<body>
<div class="login-panels">
    <div class="welcome" th:text="#{register.welcome}">Registration Page!</div>
    <hr>
    <form action="Register" method="POST">
        <div class="credentials">
            <input class="text-field" type="text" id="nickname" name="nickname"
                   placeholder="Nickname"><br>
            <input class="text-field" type="password" id="password" name="password"
                   placeholder="Password">
            <input class="text-field" type="text" id="name" name="name"
                   placeholder="Name">
            <input class="text-field" type="text" id="surname" name="surname"
                   placeholder="Surname">
        </div>
        <div class="nav-bar">
            <input type="submit" class="button" value="Create Account" th:value="#{register.createAccount}">
        </div>
    </form>
</div>
</body>
</html>