<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <display-name>TIW-project-2025</display-name>
    <context-param>
        <param-name>dbUrl</param-name>
        <param-value>jdbc:mariadb://localhost:3306/tiw?serverTimezone=UTC</param-value>
<!--        <param-value>jdbc:sqlite:tiw.db</param-value>-->
    </context-param>
    <context-param>
        <param-name>dbDriver</param-name>
        <param-value>org.mariadb.jdbc.Driver</param-value>
<!--        <param-value>org.sqlite.JDBC</param-value>-->
    </context-param>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>tiw</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>password</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>Login</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>outputPath</param-name>
        <param-value>uploads</param-value>
    </context-param>
    <filter>
        <filter-name>InvalidUserChecker</filter-name>
        <filter-class>it.polimi.tiw25.js.filters.InvalidUserChecker</filter-class>
    </filter>
    <filter-mapping>
        <!-- Class to invoke -->
        <filter-name>InvalidUserChecker</filter-name>
        <!-- Servlets and URLs on which to invoke the check -->
        <url-pattern>/HomePage</url-pattern>
        <url-pattern>/home_page.html</url-pattern>
        <url-pattern>/Playlist</url-pattern>
        <url-pattern>/Track</url-pattern>
        <url-pattern>/AddTracks</url-pattern>
        <url-pattern>/CreatePlaylist</url-pattern>
        <url-pattern>/GetTracksNotInPlaylist</url-pattern>
        <url-pattern>/GetUserTracks</url-pattern>
        <url-pattern>/TrackReorder</url-pattern>
        <url-pattern>/UploadTrack</url-pattern>
        <url-pattern>/Logout</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>UserChecker</filter-name>
        <filter-class>it.polimi.tiw25.js.filters.UserChecker</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserChecker</filter-name>
        <url-pattern>/Login</url-pattern>
        <url-pattern>/index.html</url-pattern>
        <url-pattern>/Register</url-pattern>
        <url-pattern>/register.html</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>PlaylistChecker</filter-name>
        <filter-class>it.polimi.tiw25.js.filters.PlaylistChecker</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PlaylistChecker</filter-name>
        <url-pattern>/Playlist</url-pattern>
        <url-pattern>/AddTracks</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>SelectedTracksChecker</filter-name>
        <filter-class>it.polimi.tiw25.js.filters.SelectedTracksChecker</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SelectedTracksChecker</filter-name>
        <url-pattern>/CreatePlaylist</url-pattern>
        <url-pattern>/AddTracks</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>TrackChecker</filter-name>
        <filter-class>it.polimi.tiw25.js.filters.TrackChecker</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TrackChecker</filter-name>
        <url-pattern>/Track</url-pattern>
    </filter-mapping>
</web-app>