<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <display-name>TIW-project</display-name>
    <context-param>
        <param-name>dbUrl</param-name>
        <param-value>jdbc:mariadb://localhost:3306/tiw?serverTimezone=UTC</param-value>
    </context-param>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>tiw</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>password</param-value>
    </context-param>
    <context-param>
        <param-name>dbDriver</param-name>
        <param-value>org.mariadb.jdbc.Driver</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>Login</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>outputPath</param-name>
        <param-value>.cache/playlist-manager/</param-value>
    </context-param>
    <filter>
        <filter-name>UserChecker</filter-name>
        <filter-class>it.polimi.tiw25.pure_html.filters.UserChecker</filter-class>
    </filter>
    <filter-mapping>
        <!-- Class to invoke -->
        <filter-name>UserChecker</filter-name>
        <!-- Servlets on which to invoke the check -->
        <url-pattern>/HomePage</url-pattern>
        <url-pattern>/Playlist</url-pattern>
        <url-pattern>/Track</url-pattern>
    </filter-mapping>
</web-app>
